Repository ufs-community/ufs-srweather-app, pull requests merged in 2023-06, with the labels that each got.

#800 [develop] Update hashes of GSI and rrfs_utils
  Externals.cfg
  modulefiles/build_cheyenne_gnu.lua
  modulefiles/build_hera_gnu.lua
  modulefiles/build_wcoss2_intel.lua
  modulefiles/srw_common.lua
  versions/build.ver.wcoss2
Labels: enhancement, help wanted, Work in Progress, run_we2e_coverage_tests

#799 [develop] Update WM and UPP hashes and minor rearrangement of WE2E coverage tests that fail on certain platforms
  .cicd/Jenkinsfile
  Externals.cfg
  tests/WE2E/machine_suites/coverage.cheyenne.gnu
  tests/WE2E/machine_suites/coverage.gaea
  tests/WE2E/machine_suites/coverage.hera.intel.nco
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v17_p8_plot.yaml
  tests/test_python/test_calculate_cost.py
  ush/predef_grid_params.yaml
Labels: run_we2e_coverage_tests

#804 [develop] Split aqm_all into aqm_prep and aqm_post
  parm/wflow/aqm_post.yaml
  parm/wflow/aqm_prep.yaml
  ush/config.aqm.community.yaml
  ush/config.aqm.nco.realtime.yaml
Labels: run_we2e_coverage_tests

#813 [develop] Add option to change vertical coordinate file.
  parm/global_hyblev_fcst_rrfsL65.txt
  scripts/exregional_make_ics.sh
  scripts/exregional_make_lbcs.sh
  tests/WE2E/test_configs/data_assimilation/config.process_obs.yaml
  tests/WE2E/test_configs/wflow_features/config.different_vcoord.yaml
  ush/config_defaults.yaml
  ush/setup.py
Labels: run_we2e_coverage_tests

#811 [develop] Adding support for FV3_RAP CCPP suite
  docs/UsersGuide/source/Components.rst
  docs/UsersGuide/source/ConfigWorkflow.rst
  docs/UsersGuide/source/FAQ.rst
  docs/UsersGuide/source/LAMGrids.rst
  docs/UsersGuide/source/Tutorial.rst
  parm/FV3.input.yml
  parm/diag_table.FV3_RAP
  parm/field_table.FV3_RAP
  scripts/exregional_make_orog.sh
  scripts/exregional_run_fcst.sh
  sorc/CMakeLists.txt
  tests/WE2E/machine_suites/comprehensive
  tests/WE2E/machine_suites/comprehensive.cheyenne
  tests/WE2E/machine_suites/comprehensive.orion
  tests/WE2E/machine_suites/coverage.cheyenne.gnu
  tests/WE2E/machine_suites/coverage.gaea
  tests/WE2E/machine_suites/coverage.hera.intel.nco
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_13km_ics_FV3GFS_lbcs_FV3GFS_suite_RAP.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_RAP_suite_RAP.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_NA_13km_ics_FV3GFS_lbcs_FV3GFS_suite_RAP.yaml
  tests/WE2E/test_configs/verification/config.MET_verification.yaml
  ush/link_fix.py
  ush/valid_param_vals.yaml
Labels: run_we2e_coverage_tests

#822 [develop] Introduce test cases from ufs-case-studies platform thru WE2E
  parm/wflow/coldstart.yaml
  scripts/exregional_get_extrn_mdl_files.sh
  scripts/exregional_make_ics.sh
  scripts/exregional_make_lbcs.sh
  tests/WE2E/machine_suites/comprehensive.orion
  tests/WE2E/machine_suites/coverage.orion
  tests/WE2E/test_configs/ufs_case_studies/config.2020_CAD.yaml
  ush/machine/gaea.yaml
  ush/valid_param_vals.yaml
Labels: enhancement, run_we2e_coverage_tests

#833 [develop]: Updated exregional_get_obs scripts
  scripts/exregional_get_obs_ccpa.sh
  scripts/exregional_get_obs_mrms.sh
  scripts/exregional_get_obs_ndas.sh
Labels: run_we2e_coverage_tests

#840 [develop] Add a WE2E test for AQM
  tests/WE2E/test_configs/aqm/config.aqm_grid_AQM_NA13km_suite_GFS_v16.yaml
  ush/machine/hera.yaml
Labels: run_we2e_coverage_tests

#842 [develop] Add ccpp-scm reference
  docs/UsersGuide/source/Components.rst
  tests/WE2E/test_configs/ufs_case_studies/config.2020_CAD.yaml
Labels: documentation

#846 [develop] Add AQM to SRW user's guide
  docs/UsersGuide/source/AQM.rst
Labels: documentation

#828 [develop] Bring change of production/AQM.v7 back to develop
  .gitignore
  Externals.cfg
  jobs/JREGIONAL_AQM_ICS
  jobs/JREGIONAL_AQM_LBCS
  jobs/JREGIONAL_BIAS_CORRECTION_O3
  jobs/JREGIONAL_BIAS_CORRECTION_PM25
  jobs/JREGIONAL_FIRE_EMISSION
  jobs/JREGIONAL_GET_EXTRN_MDL_FILES
  jobs/JREGIONAL_MAKE_ICS
  jobs/JREGIONAL_MAKE_LBCS
  jobs/JREGIONAL_NEXUS_EMISSION
  jobs/JREGIONAL_NEXUS_GFS_SFC
  jobs/JREGIONAL_NEXUS_POST_SPLIT
  jobs/JREGIONAL_POINT_SOURCE
  jobs/JREGIONAL_POST_STAT_O3
  jobs/JREGIONAL_POST_STAT_PM25
  jobs/JREGIONAL_PRE_POST_STAT
  jobs/JREGIONAL_RUN_FCST
  jobs/JREGIONAL_RUN_POST
  modulefiles/tasks/wcoss2/python_srw.lua
  parm/aqm.rc
  parm/wflow/default_workflow.yaml
  scripts/exregional_aqm_ics.sh
  scripts/exregional_aqm_lbcs.sh
  scripts/exregional_bias_correction_o3.sh
  scripts/exregional_bias_correction_pm25.sh
  scripts/exregional_fire_emission.sh
  scripts/exregional_get_extrn_mdl_files.sh
  scripts/exregional_make_ics.sh
  scripts/exregional_make_lbcs.sh
  scripts/exregional_nexus_emission.sh
  scripts/exregional_nexus_gfs_sfc.sh
  scripts/exregional_nexus_post_split.sh
  scripts/exregional_point_source.sh
  scripts/exregional_post_stat_o3.sh
  scripts/exregional_post_stat_pm25.sh
  scripts/exregional_pre_post_stat.sh
  scripts/exregional_run_fcst.sh
  scripts/exregional_run_post.sh
  tests/WE2E/run_WE2E_tests.py
  tests/WE2E/test_configs/aqm/config.aqm_grid_AQM_NA13km_suite_GFS_v16.yaml
  ush/config.aqm.community.yaml
  ush/config.aqm.nco.realtime.yaml
  ush/config.nco.yaml
  ush/config_defaults.yaml
  ush/create_aqm_rc_file.py
  ush/job_preamble.sh
  ush/load_modules_run_task.sh
  ush/machine/hera.yaml
  ush/machine/wcoss2.yaml
  ush/setup.py
  ush/valid_param_vals.yaml
Labels: run_we2e_coverage_tests
