Repository ufs-community/ufs-srweather-app, pull requests merged in 2023-09, with the labels that each got.

#849 [develop] bug fix for processing radar reflectivity task
  parm/wflow/prep.yaml
  ush/machine/orion.yaml
Labels: run_we2e_coverage_tests

#888 [develop]: Document process for changing number of vertical levels
  docs/UsersGuide/source/CustomizingTheWorkflow/LAMGrids.rst
Labels: documentation

#871 [develop] Improvements for WE2E tests: script features, additional tests, remove unsupported domains
  .cicd/Jenkinsfile
  tests/WE2E/machine_suites/comprehensive
  tests/WE2E/machine_suites/comprehensive.cheyenne
  tests/WE2E/machine_suites/comprehensive.gaea
  tests/WE2E/machine_suites/comprehensive.orion
  tests/WE2E/machine_suites/coverage.cheyenne
  tests/WE2E/machine_suites/coverage.cheyenne.gnu
  tests/WE2E/machine_suites/coverage.gaea
  tests/WE2E/machine_suites/coverage.hera.gnu.com
  tests/WE2E/machine_suites/coverage.hera.intel.nco
  tests/WE2E/machine_suites/coverage.jet
  tests/WE2E/machine_suites/coverage.orion
  tests/WE2E/monitor_jobs.py
  tests/WE2E/run_WE2E_tests.py
  tests/WE2E/setup_WE2E_tests.sh
  tests/WE2E/test_configs/custom_grids/config.custom_ESGgrid.yaml
  tests/WE2E/test_configs/custom_grids/config.custom_ESGgrid_Central_Asia_3km.yaml
  tests/WE2E/test_configs/custom_grids/config.custom_ESGgrid_Great_Lakes_snow_8km.yaml
  tests/WE2E/test_configs/custom_grids/config.custom_ESGgrid_IndianOcean_6km.yaml
  tests/WE2E/test_configs/custom_grids/config.custom_ESGgrid_NewZealand_3km.yaml
  tests/WE2E/test_configs/custom_grids/config.custom_ESGgrid_Peru_12km.yaml
  tests/WE2E/test_configs/custom_grids/config.custom_ESGgrid_SF_1p1km.yaml
  tests/WE2E/test_configs/custom_grids/config.custom_GFDLgrid.yaml
  tests/WE2E/test_configs/custom_grids/config.custom_GFDLgrid__GFDLgrid_USE_NUM_CELLS_IN_FILENAMES_eq_FALSE.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_13km_ics_FV3GFS_lbcs_FV3GFS_suite_RAP.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_HRRR.yaml
  tests/WE2E/test_configs/verification/config.MET_verification_winter_wx.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_FV3GFS_lbcs_FV3GFS_fmt_grib2_2019061200.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_FV3GFS_lbcs_FV3GFS_fmt_nemsio_2019061200.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_FV3GFS_lbcs_FV3GFS_fmt_nemsio_2021032018.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_FV3GFS_lbcs_FV3GFS_fmt_netcdf_2022060112_48h.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_GSMGFS_lbcs_GSMGFS.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_HRRR_lbcs_RAP.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_RAP_lbcs_RAP.yaml
  tests/WE2E/test_configs/wflow_features/config.long_fcst.yaml
  tests/WE2E/test_configs/wflow_features/config.quilting_false.yaml
  tests/WE2E/utils.py
  tests/test_python/test_get_crontab_contents.py
  ush/config_defaults.yaml
  ush/generate_FV3LAM_wflow.py
  ush/get_crontab_contents.py
  ush/get_layout.sh
  ush/launch_FV3LAM_wflow.sh
  ush/predef_grid_params.yaml
  ush/set_FV3nml_sfc_climo_filenames.py
  ush/setup.py
  ush/valid_param_vals.yaml
Labels: run_we2e_coverage_tests, run_we2e_jenkins_coverage_tests

#906 [develop] Component hash updates, FV3_HRRR namelist changes
  Externals.cfg
  parm/FV3.input.yml
  scripts/exregional_run_fcst.sh
  tests/WE2E/machine_suites/comprehensive
  tests/WE2E/machine_suites/comprehensive.orion
  tests/WE2E/machine_suites/coverage.hera.gnu.com
  tests/WE2E/test_configs/custom_grids/config.custom_ESGgrid_SF_1p1km.yaml
  tests/WE2E/test_configs/release_SRW_v1/config.GST_release_public_v1.yaml
  ush/config_defaults.yaml
Labels: run_we2e_coverage_tests

#893 [develop] Removing RRFS-related features.
  .cicd/scripts/srw_build.sh
  Externals.cfg
  devbuild.sh
  jobs/JREGIONAL_ANALYSIS_GSI
  jobs/JREGIONAL_GET_DA_OBS
  jobs/JREGIONAL_GET_EXTRN_MDL_FILES
  jobs/JREGIONAL_MAKE_ICS
  jobs/JREGIONAL_MAKE_LBCS
  jobs/JREGIONAL_PROCESS_BUFROBS
  jobs/JREGIONAL_PROCESS_LIGHTNING
  jobs/JREGIONAL_PROCESS_RADARREF
  modulefiles/build_gaea_intel.lua
  modulefiles/build_wcoss2_intel.lua
  modulefiles/srw_common.lua
  modulefiles/srw_common_spack.lua
  modulefiles/tasks/hera/get_da_obs.local.lua
  modulefiles/tasks/jet/get_da_obs.local.lua
  parm/data_locations.yml
  parm/wflow/coldstart.yaml
  parm/wflow/da_data_preproc.yaml
  parm/wflow/default_workflow.yaml
  scripts/exregional_analysis_gsi.sh
  scripts/exregional_get_da_obs.sh
  scripts/exregional_get_extrn_mdl_files.sh
  scripts/exregional_make_ics.sh
  scripts/exregional_make_lbcs.sh
  scripts/exregional_plot_allvars.py
  scripts/exregional_plot_allvars_diff.py
  scripts/exregional_process_bufrobs.sh
  scripts/exregional_process_lightning.sh
  scripts/exregional_process_radarref.sh
  scripts/exregional_run_prdgen.sh
  scripts/exregional_run_prdgen_subpiece.sh
  sorc/CMakeLists.txt
  tests/WE2E/machine_suites/coverage.jet
  tests/WE2E/test_configs/data_assimilation/config.process_obs.yaml
  tests/WE2E/test_configs/verification/config.MET_ensemble_verification_only_vx.yaml
  tests/WE2E/test_configs/verification/config.MET_verification_only_vx.yaml
  tests/build.sh
  ufs_srweather_app.settings.in
  ush/config.da_cycling.yaml
  ush/config.nco.yaml
  ush/config_defaults.yaml
  ush/generate_FV3LAM_wflow.py
  ush/machine/cheyenne.yaml
  ush/machine/gaea.yaml
  ush/machine/hera.yaml
  ush/machine/jet.yaml
  ush/machine/noaacloud.yaml
  ush/machine/orion.yaml
  ush/machine/wcoss2.yaml
  ush/valid_param_vals.yaml
  versions/build.ver.wcoss2
  versions/run.ver.wcoss2
Labels: run_we2e_coverage_tests

#889 [develop] Update modulefiles to use hdf/1.14.0 and netcdf/4.9.2-based software stacks on Tier 1 systems
  modulefiles/build_cheyenne_gnu.lua
  modulefiles/build_cheyenne_intel.lua
  modulefiles/build_gaea_intel.lua
  modulefiles/build_hera_gnu.lua
  modulefiles/build_hera_intel.lua
  modulefiles/build_jet_intel.lua
  modulefiles/build_orion_intel.lua
  modulefiles/srw_common.lua
  modulefiles/tasks/orion/miniconda_regional_workflow_cmaq.lua
  modulefiles/tasks/orion/plot_allvars.local.lua
  modulefiles/wflow_gaea.lua
  parm/wflow/coldstart.yaml
  ush/machine/jet.yaml
  ush/machine/orion.yaml
Labels: enhancement, Priority: HIGH, run_we2e_coverage_tests

#901 [develop] Update spack-stack on noaacloud
  modulefiles/build_noaacloud_intel.lua
  modulefiles/srw_common_spack.lua
  modulefiles/wflow_noaacloud.lua
  ush/machine/noaacloud.yaml
Labels: bug

#894 [develop] Changes for Derecho, a new platform
  etc/lmod-setup.csh
  etc/lmod-setup.sh
  modulefiles/build_derecho_intel.lua
  modulefiles/tasks/derecho/aqm_ics.local.lua
  modulefiles/tasks/derecho/aqm_lbcs.local.lua
  modulefiles/tasks/derecho/fire_emission.local.lua
  modulefiles/tasks/derecho/miniconda_regional_workflow_cmaq.lua
  modulefiles/tasks/derecho/nexus_emission.local.lua
  modulefiles/tasks/derecho/nexus_gfs_sfc.local.lua
  modulefiles/tasks/derecho/nexus_post_split.local.lua
  modulefiles/tasks/derecho/plot_allvars.local.lua
  modulefiles/tasks/derecho/point_source.local.lua
  modulefiles/tasks/derecho/pre_post_stat.local.lua
  modulefiles/tasks/derecho/python_srw.lua
  modulefiles/tasks/derecho/run_vx.local.lua
  modulefiles/wflow_derecho.lua
  parm/wflow/aqm_post.yaml
  parm/wflow/aqm_prep.yaml
  parm/wflow/coldstart.yaml
  parm/wflow/plot.yaml
  parm/wflow/post.yaml
  parm/wflow/prdgen.yaml
  parm/wflow/prep.yaml
  parm/wflow/verify_det.yaml
  parm/wflow/verify_ens.yaml
  parm/wflow/verify_pre.yaml
  tests/README.md
  tests/WE2E/machine_suites/comprehensive.derecho
  tests/WE2E/machine_suites/coverage.derecho
  tests/WE2E/setup_WE2E_tests.sh
  tests/build.sh
  ush/get_crontab_contents.py
  ush/machine/derecho.yaml
  ush/valid_param_vals.yaml
Labels: run_we2e_coverage_tests

#914 [develop] Bug fixes, documentation updates, general cleanup
  docs/UsersGuide/source/BuildingRunningTesting/DefaultVarsTable.rst
  docs/UsersGuide/source/BuildingRunningTesting/RunSRW.rst
  docs/UsersGuide/source/CustomizingTheWorkflow/ConfigWorkflow.rst
  docs/UsersGuide/source/CustomizingTheWorkflow/InputOutputFiles.rst
  docs/UsersGuide/source/tables/Tests.csv
  parm/fixed_files_mapping.yaml
  tests/WE2E/machine_suites/comprehensive.cheyenne
  tests/WE2E/monitor_jobs.py
  tests/WE2E/run_WE2E_tests.py
  tests/test_python/test_check_ruc_lsm.py
  tests/test_python/test_set_thompson_mp_fix_files.py
  ush/check_ruc_lsm.py
  ush/config_defaults.yaml
  ush/python_utils/config_parser.py
  ush/set_thompson_mp_fix_files.py
  ush/setup.py
Labels: run_we2e_coverage_tests

#911 [develop] Adding Hercules as a Tier-1 platform
  .cicd/Jenkinsfile
  etc/lmod-setup.csh
  etc/lmod-setup.sh
  modulefiles/build_hercules_intel.lua
  modulefiles/srw_common.lua
  modulefiles/tasks/hercules/aqm_ics.local.lua
  modulefiles/tasks/hercules/aqm_lbcs.local.lua
  modulefiles/tasks/hercules/fire_emission.local.lua
  modulefiles/tasks/hercules/miniconda_regional_workflow_cmaq.lua
  modulefiles/tasks/hercules/nexus_emission.local.lua
  modulefiles/tasks/hercules/nexus_post_split.local.lua
  modulefiles/tasks/hercules/plot_allvars.local.lua
  modulefiles/tasks/hercules/point_source.local.lua
  modulefiles/tasks/hercules/python_srw.lua
  modulefiles/tasks/hercules/run_vx.local.lua
  modulefiles/wflow_hercules.lua
  tests/WE2E/machine_suites/comprehensive.hercules
  tests/WE2E/machine_suites/coverage.hercules
  tests/build.sh
  ush/machine/hercules.yaml
  ush/valid_param_vals.yaml
Labels: enhancement, run_we2e_coverage_tests
