Repository ufs-community/ufs-srweather-app, pull requests merged in 2023-05, with the labels that each got.

#745 [develop] Bugfix find task function in setup.py
  ush/setup.py
Labels: bug, run_we2e_coverage_tests

#729 [develop] Added environment variable LDFLAGS on macOS as requested by the corresponding module file
  devbuild.sh
  modulefiles/build_macos_gnu.lua
Labels: enhancement, run_we2e_coverage_tests

#643 [develop] Add analysis task.
  jobs/JREGIONAL_ANALYSIS_GSI
  scripts/exregional_analysis_gsi.sh
  ush/config_defaults.yaml
  ush/machine/orion.yaml
  ush/machine/wcoss2.yaml
Labels: run_we2e_coverage_tests

#757 [develop] Add precipitation-type verification for MET
  parm/metplus/Pb2nc_obs.conf
  parm/metplus/PointStat_SFC.conf
Labels: run_we2e_coverage_tests

#780 [develop] Add USE_USER_STAGED_EXTRN_FILES: true to WE2E configurations that are missing this variable
  tests/WE2E/test_configs/grids_extrn_mdls_suites_nco/config.nco_grid_RRFS_CONUS_13km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_nco/config.nco_grid_RRFS_CONUS_3km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v15_thompson_mynn_lam3km.yaml
Labels: run_we2e_coverage_tests

#738 [develop] Update documentation for Rocoto XML changes
  docs/UsersGuide/source/ConfigWorkflow.rst
  docs/UsersGuide/source/DefineWorkflow.rst
  docs/UsersGuide/source/RunSRW.rst
  docs/UsersGuide/source/Tutorial.rst
  docs/UsersGuide/source/index.rst
Labels: documentation

#777 [develop] Add more plotting WE2E tests
  tests/WE2E/machine_suites/comprehensive
  tests/WE2E/machine_suites/comprehensive.cheyenne
  tests/WE2E/machine_suites/comprehensive.orion
  tests/WE2E/machine_suites/coverage.cheyenne
  tests/WE2E/machine_suites/coverage.cheyenne.gnu
  tests/WE2E/machine_suites/coverage.gaea
  tests/WE2E/machine_suites/coverage.jet
  tests/WE2E/machine_suites/coverage.orion
  tests/WE2E/machine_suites/fundamental
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_AK_13km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16_plot.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_13km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16_plot.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v17_p8_plot.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_SUBCONUS_Ind_3km_ics_RAP_lbcs_RAP_suite_RRFS_v1beta_plot.yaml
Labels: enhancement, run_we2e_coverage_tests

#744 [develop] Input namelist related changes needed for RRFS
  scripts/exregional_run_fcst.sh
  tests/test_python/test_set_FV3nml_ens_stoch_seeds.py
  ush/config_defaults.yaml
  ush/generate_FV3LAM_wflow.py
  ush/set_FV3nml_ens_stoch_seeds.py
Labels: run_we2e_coverage_tests

#790 [develop] Fix failures on AQM and verification tasks and change structure of module files on WCOSS2
  Externals.cfg
  devbuild.sh
  modulefiles/build_wcoss2_intel.lua
  modulefiles/tasks/wcoss2/aqm_ics.local.lua
  modulefiles/tasks/wcoss2/aqm_lbcs.local.lua
  modulefiles/tasks/wcoss2/bias_correction_o3.local.lua
  modulefiles/tasks/wcoss2/bias_correction_pm25.local.lua
  modulefiles/tasks/wcoss2/fire_emission.local.lua
  modulefiles/tasks/wcoss2/make_grid.local.lua
  modulefiles/tasks/wcoss2/make_ics.local.lua
  modulefiles/tasks/wcoss2/make_lbcs.local.lua
  modulefiles/tasks/wcoss2/make_orog.local.lua
  modulefiles/tasks/wcoss2/make_sfc_climo.local.lua
  modulefiles/tasks/wcoss2/nexus_emission.local.lua
  modulefiles/tasks/wcoss2/nexus_post_split.local.lua
  modulefiles/tasks/wcoss2/post_stat_o3.local.lua
  modulefiles/tasks/wcoss2/post_stat_pm25.local.lua
  modulefiles/tasks/wcoss2/pre_post_stat.local.lua
  modulefiles/tasks/wcoss2/run_fcst.local.lua
  modulefiles/tasks/wcoss2/run_post.local.lua
  modulefiles/tasks/wcoss2/run_prdgen.local.lua
  modulefiles/tasks/wcoss2/run_vx.local.lua
  parm/wflow/verify.yaml
  rename_model.sh
  ush/config.aqm.community.yaml
  ush/config.aqm.nco.realtime.yaml
  ush/load_modules_run_task.sh
  ush/machine/wcoss2.yaml
  versions/build.ver.wcoss2
  versions/run.ver.wcoss2
Labels: bug, enhancement, run_we2e_coverage_tests

#810 [develop] Fix retrieve data.
  tests/WE2E/run_WE2E_tests.py
  ush/retrieve_data.py
Labels: run_we2e_coverage_tests

#807 [develop] Add workflow for radar reflectivity processing.
  jobs/JREGIONAL_GET_DA_OBS
  parm/data_locations.yml
  parm/wflow/da_data_preproc.yaml
  scripts/exregional_get_da_obs.sh
  scripts/exregional_process_radarref.sh
  tests/WE2E/test_configs/data_assimilation/config.process_obs.yaml
  ush/config.da_cycling.yaml
  ush/config_defaults.yaml
  ush/get_mrms_files.sh
  ush/machine/hera.yaml
  ush/machine/jet.yaml
  ush/retrieve_data.py
Labels: run_we2e_coverage_tests

#746 [develop] Introducing forecast metrics into CI testing processes
  .cicd/scripts/srw_metric_example.sh
  parm/metplus/STATAnalysisConfig_skill_score
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_SUBCONUS_Ind_3km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16.yaml
Labels: enhancement, run_we2e_coverage_tests
