Repository ufs-community/ufs-srweather-app, pull requests merged in 2023-04, with the labels that each got.

#690 [develop] Change the build log output file extension from log to txt
  .cicd/Jenkinsfile
  .cicd/scripts/srw_build.sh
Labels: enhancement, run_we2e_fundamental_tests

#645 [develop] Add upgrade option to check_for_preexist_dir.
  ush/bash_utils/check_for_preexist_dir_file.sh
  ush/config_defaults.yaml
  ush/python_utils/check_for_preexist_dir_file.py
  ush/python_utils/filesys_cmds_vrfy.py
Labels: run_we2e_fundamental_tests

#682 [develop] Add restart capability to forecast task
  Externals.cfg
  jobs/JREGIONAL_BIAS_CORRECTION_O3
  jobs/JREGIONAL_BIAS_CORRECTION_PM25
  parm/FV3.input.yml
  parm/model_configure
  parm/nems.configure
  parm/wflow/aqm_all.yaml
  parm/wflow/default_workflow.yaml
  parm/wflow/post.yaml
  scripts/exregional_aqm_lbcs.sh
  scripts/exregional_bias_correction_o3.sh
  scripts/exregional_bias_correction_pm25.sh
  scripts/exregional_get_extrn_mdl_files.sh
  scripts/exregional_make_orog.sh
  scripts/exregional_nexus_emission.sh
  scripts/exregional_nexus_gfs_sfc.sh
  scripts/exregional_post_stat_o3.sh
  scripts/exregional_post_stat_pm25.sh
  scripts/exregional_run_fcst.sh
  scripts/exregional_run_prdgen_subpiece.sh
  ush/config.aqm.community.yaml
  ush/config.aqm.nco.realtime.yaml
  ush/config_defaults.yaml
  ush/create_aqm_rc_file.py
  ush/create_model_configure_file.py
  ush/create_nems_configure_file.py
  ush/generate_FV3LAM_wflow.py
  ush/link_fix.py
  ush/machine/cheyenne.yaml
  ush/machine/hera.yaml
  ush/machine/orion.yaml
  ush/machine/wcoss2.yaml
  ush/predef_grid_params.yaml
  ush/setup.py
  ush/update_input_nml.py
Labels: run_we2e_fundamental_tests

#714 [develop] Return Jet to Jenkinsfile.
  .cicd/Jenkinsfile
Labels: run_we2e_fundamental_tests

#715 [develop]: Fix a bug in devbuild.sh with a case statement
  devbuild.sh
Labels: bug

#708 [develop] Point source pre-combine
  Externals.cfg
  scripts/exregional_point_source.sh
  ush/config_defaults.yaml
  ush/machine/hera.yaml
  ush/machine/wcoss2.yaml
Labels: enhancement, Tested on Hera, run_we2e_fundamental_tests

#636 [develop] Add process bufr task.
  jobs/JREGIONAL_PROCESS_BUFR
  scripts/exregional_process_bufr.sh
  ush/config_defaults.yaml
  ush/machine/wcoss2.yaml
Labels: run_we2e_fundamental_tests

#644 [develop] Add process lightning task
  jobs/JREGIONAL_PROCESS_LIGHTNING
  scripts/exregional_process_lightning.sh
  ush/config_defaults.yaml
  ush/machine/hera.yaml
  ush/machine/jet.yaml
  ush/valid_param_vals.yaml
  ush/wrappers/run_process_lightning.sh
Labels: enhancement, run_we2e_fundamental_tests

#638 [develop] Add radar reflectivity task.
  jobs/JREGIONAL_PROCESS_RADARREF
  scripts/exregional_process_radarref.sh
  ush/config_defaults.yaml
  ush/machine/wcoss2.yaml
  ush/wrappers/run_process_radarref.sh
Labels: run_we2e_fundamental_tests

#718 [develop] Add GDAS nemsio data type for initial conditions
  parm/data_locations.yml
  scripts/exregional_make_ics.sh
  scripts/exregional_make_lbcs.sh
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_GDAS_lbcs_GDAS_fmt_nemsio_2020062900_ensemble_2mems.yaml
  ush/retrieve_data.py
Labels: enhancement, run_we2e_fundamental_tests

#736 [develop] Add ufs-case-study data options
  parm/data_locations.yml
  ush/retrieve_data.py
  ush/test_retrieve_data.py
Labels: enhancement, run_we2e_fundamental_tests

#722 [develop] Fix issues on AQM and NCO mode caused by new YAML interface PR #676
  etc/lmod-setup.csh
  etc/lmod-setup.sh
  jobs/JREGIONAL_PRE_POST_STAT
  jobs/JREGIONAL_RUN_POST
  parm/wflow/aqm_all.yaml
  parm/wflow/coldstart.yaml
  parm/wflow/default_workflow.yaml
  scripts/exregional_aqm_lbcs.sh
  scripts/exregional_bias_correction_o3.sh
  scripts/exregional_bias_correction_pm25.sh
  scripts/exregional_get_extrn_mdl_files.sh
  scripts/exregional_make_lbcs.sh
  scripts/exregional_nexus_emission.sh
  scripts/exregional_nexus_gfs_sfc.sh
  scripts/exregional_nexus_post_split.sh
  scripts/exregional_point_source.sh
  scripts/exregional_post_stat_o3.sh
  scripts/exregional_pre_post_stat.sh
  scripts/exregional_run_fcst.sh
  scripts/exregional_run_met_ensemblestat_vx_grid.sh
  scripts/exregional_run_met_gridstat_vx.sh
  scripts/exregional_run_met_pointstat_vx.sh
  scripts/exregional_run_post.sh
  ush/config.aqm.nco.realtime.yaml
  ush/machine/wcoss2.yaml
  ush/setup.py
Labels: bug, Priority: HIGH, run_we2e_fundamental_tests

#707 [develop] cicd functional testing script
  .cicd/scripts/srw_ftest.sh
Labels: enhancement

#732 [develop] Round 2 of overhaul to WE2E test suites (and other test improvements!)
  .cicd/Jenkinsfile
  .cicd/scripts/srw_test.sh
  docs/UsersGuide/source/FAQ.rst
  docs/UsersGuide/source/Glossary.rst
  docs/UsersGuide/source/Quickstart.rst
  docs/UsersGuide/source/RunSRW.rst
  docs/UsersGuide/source/WE2Etests.rst
  docs/UsersGuide/source/tables/Tests.csv
  docs/UsersGuide/source/tables/Tests.rst
  modulefiles/wflow_orion.lua
  parm/data_locations.yml
  parm/wflow/plot.yaml
  parm/wflow/verify.yaml
  tests/WE2E/machine_suites/comprehensive.cheyenne
  tests/WE2E/machine_suites/comprehensive.orion
  tests/WE2E/machine_suites/coverage.cheyenne
  tests/WE2E/machine_suites/coverage.cheyenne.gnu
  tests/WE2E/machine_suites/coverage.gaea
  tests/WE2E/machine_suites/coverage.hera.gnu.com
  tests/WE2E/machine_suites/coverage.hera.intel.nco
  tests/WE2E/machine_suites/coverage.jet
  tests/WE2E/machine_suites/coverage.orion
  tests/WE2E/machine_suites/fundamental
  tests/WE2E/machine_suites/fundamental.cheyenne
  tests/WE2E/machine_suites/fundamental.cheyenne.gnu
  tests/WE2E/machine_suites/fundamental.hera.gnu.com
  tests/WE2E/machine_suites/fundamental.hera.intel.nco
  tests/WE2E/machine_suites/fundamental.jet
  tests/WE2E/machine_suites/fundamental.orion
  tests/WE2E/monitor_jobs.py
  tests/WE2E/run_WE2E_tests.py
  tests/WE2E/setup_WE2E_tests.sh
  tests/WE2E/test_configs/default_configs/config.community.yaml
  tests/WE2E/test_configs/default_configs/config.nco.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v17_p8.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_GSMGFS_lbcs_GSMGFS_suite_GFS_v16.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_NA_3km_ics_FV3GFS_lbcs_FV3GFS_suite_RRFS_v1beta.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_SUBCONUS_Ind_3km_ics_FV3GFS_lbcs_FV3GFS_suite_WoFS_v0.yaml
  tests/WE2E/test_configs/release_SRW_v1/config.GST_release_public_v1.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_FV3GFS_lbcs_FV3GFS_fmt_grib2_2020022518.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_FV3GFS_lbcs_FV3GFS_fmt_grib2_2020022600.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_FV3GFS_lbcs_FV3GFS_fmt_nemsio_2020022518.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_FV3GFS_lbcs_FV3GFS_fmt_nemsio_2021032018.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_NOMADS_ics_FV3GFS_lbcs_FV3GFS.yaml
  tests/WE2E/utils.py
  ush/python_utils/config_parser.py
  ush/retrieve_data.py
  ush/set_gridparams_GFDLgrid.py
  ush/set_predef_grid_params.py
  ush/test_retrieve_data.py
Labels: run_we2e_fundamental_tests, jenkins_test
