Repository ufs-community/ufs-srweather-app, pull requests merged in 2023-07, with the labels that each got.

#835 [develop] Bugfix/metric
  .cicd/scripts/srw_metric_example.sh
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_SUBCONUS_Ind_3km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16.yaml
Labels: bug

#847 [develop] Update Jenkinsfile to run post-build functional tests
  .cicd/Jenkinsfile
  .cicd/scripts/srw_ftest.sh
Labels: enhancement, Tested on Cheyenne, run_we2e_coverage_tests, run_we2e_jenkins_coverage_tests

#868 [develop] Bug fix for Issue #851 (renaming `NET` to `NET_default`)
  tests/WE2E/machine_suites/coverage.hera.gnu.com
  tests/WE2E/test_configs/verification/config.MET_ensemble_verification_only_vx_time_lag.yaml
  ush/config_defaults.yaml
Labels: bug, run_we2e_coverage_tests

#869 [develop] Bugfix for Issue #867 (when `QUILTING` is set to `false`)
  tests/WE2E/machine_suites/comprehensive
  tests/WE2E/machine_suites/coverage.hera.gnu.com
  tests/WE2E/test_configs/wflow_features/config.quilting_false.yaml
  ush/create_model_configure_file.py
Labels: bug, run_we2e_coverage_tests

#870 [develop] fixes to enable stochastic physics
  scripts/exregional_run_fcst.sh
  tests/test_python/test_set_FV3nml_ens_stoch_seeds.py
  ush/generate_FV3LAM_wflow.py
  ush/set_FV3nml_ens_stoch_seeds.py
Labels: run_we2e_coverage_tests
