Repository ufs-community/ufs-srweather-app, pull requests merged in 2023-08, with the labels that each got.

#882 [develop] Update forecast metric test script
  .cicd/scripts/srw_metric_example.sh
Labels: bug, run_we2e_coverage_tests

#836 [develop] update Gaea modulefile
  .cicd/Jenkinsfile
  .cicd/scripts/srw_build.sh
  .cicd/scripts/srw_ftest.sh
  .cicd/scripts/srw_test.sh
  etc/lmod-setup.csh
  modulefiles/build_gaea_intel.lua
  modulefiles/srw_common.lua
  modulefiles/tasks/gaea/plot_allvars.local.lua
  modulefiles/tasks/gaea/python_srw.lua
  modulefiles/wflow_gaea.lua
  ush/machine/gaea.yaml
Labels: run_we2e_coverage_tests

#859 [develop] Update the hashes of the UFS-WM and UFS_UTILS repositories
  .cicd/Jenkinsfile
  Externals.cfg
  sorc/CMakeLists.txt
  tests/WE2E/machine_suites/comprehensive
  tests/WE2E/machine_suites/comprehensive.cheyenne
  tests/WE2E/machine_suites/comprehensive.orion
  tests/WE2E/machine_suites/coverage.cheyenne.gnu
  tests/WE2E/machine_suites/coverage.hera.gnu.com
  tests/WE2E/machine_suites/coverage.hera.intel.nco
  tests/WE2E/machine_suites/coverage.orion
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16_plot.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_RAP.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_GSMGFS_lbcs_GSMGFS_suite_GFS_2017_gfdlmp.yaml
  tests/WE2E/test_configs/wflow_features/config.community_ensemble_2mems.yaml
  tests/WE2E/test_configs/wflow_features/config.custom_ESGgrid.yaml
  tests/WE2E/test_configs/wflow_features/config.custom_GFDLgrid.yaml
  tests/WE2E/test_configs/wflow_features/config.custom_GFDLgrid__GFDLgrid_USE_NUM_CELLS_IN_FILENAMES_eq_FALSE.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_GSMGFS_lbcs_GSMGFS.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_NOMADS_ics_FV3GFS_lbcs_FV3GFS.yaml
  tests/WE2E/test_configs/wflow_features/config.specify_RESTART_INTERVAL.yaml
Labels: run_we2e_coverage_tests, run_we2e_jenkins_coverage_tests

#864 [develop] Consolidate verification tasks using retrieve_data.py
  jobs/JREGIONAL_GET_OBS_CCPA
  jobs/JREGIONAL_GET_OBS_MRMS
  jobs/JREGIONAL_GET_OBS_NOHRSC
  jobs/JREGIONAL_GET_VERIF_OBS
  parm/data_locations.yml
  parm/wflow/verify_pre.yaml
  scripts/exregional_get_extrn_mdl_files.sh
  scripts/exregional_get_obs_ccpa.sh
  scripts/exregional_get_obs_mrms.sh
  scripts/exregional_get_obs_ndas.sh
  scripts/exregional_get_obs_nohrsc.sh
  scripts/exregional_get_verif_obs.sh
  tests/WE2E/machine_suites/comprehensive
  tests/WE2E/machine_suites/comprehensive.cheyenne
  tests/WE2E/machine_suites/comprehensive.orion
  tests/WE2E/machine_suites/coverage.cheyenne.gnu
  tests/WE2E/machine_suites/coverage.hera.gnu.com
  tests/WE2E/machine_suites/coverage.jet
  tests/WE2E/run_WE2E_tests.py
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_RAP_suite_RAP.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_NAM_lbcs_NAM_suite_GFS_v16.yaml
  tests/WE2E/test_configs/verification/config.MET_ensemble_verification_only_vx.yaml
  tests/WE2E/test_configs/verification/config.MET_ensemble_verification_only_vx_time_lag.yaml
  tests/WE2E/test_configs/verification/config.MET_verification_only_vx.yaml
  tests/WE2E/test_configs/verification/config.custom_ESGgrid_Great_Lakes_snow_8km.yaml
  tests/test_python/test_retrieve_data.py
  ush/config_defaults.yaml
  ush/machine/cheyenne.yaml
  ush/machine/gaea.yaml
  ush/machine/hera.yaml
  ush/machine/jet.yaml
  ush/machine/linux.yaml
  ush/machine/macos.yaml
  ush/machine/noaacloud.yaml
  ush/machine/orion.yaml
  ush/machine/wcoss2.yaml
  ush/mrms_pull_topofhour.py
  ush/retrieve_data.py
Labels: run_we2e_coverage_tests, run_we2e_jenkins_coverage_tests

#890 [develop] Feature/metric update
  .cicd/scripts/srw_metric_example.sh
  parm/metplus/STATAnalysisConfig_skill_score
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_SUBCONUS_Ind_3km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_SUBCONUS_Ind_3km_ics_FV3GFS_lbcs_FV3GFS_suite_WoFS_v0.yaml
Labels: enhancement, run_we2e_coverage_tests

#883 [develop] Update wrapper scripts
  .cicd/Jenkinsfile
  .cicd/scripts/qsub_srw_ftest.sh
  .cicd/scripts/sbatch_srw_ftest.sh
  .cicd/scripts/srw_ftest.sh
  .cicd/scripts/wrapper_srw_ftest.sh
  docs/UsersGuide/source/RunSRW.rst
  ush/wrappers/run_fcst.sh
  ush/wrappers/run_get_ics.sh
  ush/wrappers/run_get_lbcs.sh
  ush/wrappers/run_make_grid.sh
  ush/wrappers/run_make_ics.sh
  ush/wrappers/run_make_lbcs.sh
  ush/wrappers/run_make_orog.sh
  ush/wrappers/run_make_sfc_climo.sh
  ush/wrappers/run_post.sh
Labels: bug, run_we2e_coverage_tests

#880 [develop]: User's Guide Updates
  docs/UsersGuide/source/AQM.rst
  docs/UsersGuide/source/BackgroundInfo/Components.rst
  docs/UsersGuide/source/BackgroundInfo/Introduction.rst
  docs/UsersGuide/source/BackgroundInfo/TechnicalOverview.rst
  docs/UsersGuide/source/BackgroundInfo/index.rst
  docs/UsersGuide/source/BuildingRunningTesting/AQM.rst
  docs/UsersGuide/source/BuildingRunningTesting/BuildSRW.rst
  docs/UsersGuide/source/BuildingRunningTesting/ContainerQuickstart.rst
  docs/UsersGuide/source/BuildingRunningTesting/DefaultVarsTable.rst
  docs/UsersGuide/source/BuildingRunningTesting/Quickstart.rst
  docs/UsersGuide/source/BuildingRunningTesting/RunSRW.rst
  docs/UsersGuide/source/BuildingRunningTesting/Tutorial.rst
  docs/UsersGuide/source/BuildingRunningTesting/VXCases.rst
  docs/UsersGuide/source/BuildingRunningTesting/WE2Etests.rst
  docs/UsersGuide/source/BuildingRunningTesting/index.rst
  docs/UsersGuide/source/Components.rst
  docs/UsersGuide/source/CustomizingTheWorkflow/ConfigWorkflow.rst
  docs/UsersGuide/source/CustomizingTheWorkflow/DefineWorkflow.rst
  docs/UsersGuide/source/CustomizingTheWorkflow/InputOutputFiles.rst
  docs/UsersGuide/source/CustomizingTheWorkflow/LAMGrids.rst
  docs/UsersGuide/source/CustomizingTheWorkflow/TemplateVars.rst
  docs/UsersGuide/source/CustomizingTheWorkflow/index.rst
  docs/UsersGuide/source/FAQ.rst
  docs/UsersGuide/source/Introduction.rst
  docs/UsersGuide/source/Reference/FAQ.rst
  docs/UsersGuide/source/Reference/Glossary.rst
  docs/UsersGuide/source/Reference/RocotoInfo.rst
  docs/UsersGuide/source/Reference/index.rst
  docs/UsersGuide/source/RunSRW.rst
  docs/UsersGuide/source/_static/JenkinsCICD.png
  docs/UsersGuide/source/_static/RRFS_CONUS_13km.sphr.native_wrtcmp.png
  docs/UsersGuide/source/_static/RRFS_CONUS_25km.sphr.native_wrtcmp.png
  docs/UsersGuide/source/_static/RRFS_CONUS_3km.sphr.native_wrtcmp.png
  docs/UsersGuide/source/_static/SRW_build_process.png
  docs/UsersGuide/source/_static/SRW_regional_workflow_gen.png
  docs/UsersGuide/source/_static/SRW_run_process.png
  docs/UsersGuide/source/_static/SRW_wflow_flowchart.png
  docs/UsersGuide/source/_static/SRW_wflow_input_path.png
  docs/UsersGuide/source/_static/SUBCONUS_Ind_3km.png
  docs/UsersGuide/source/conf.py
  docs/UsersGuide/source/index.rst
  docs/UsersGuide/source/references.bib
  docs/UsersGuide/source/tables/Tests.csv
Labels: documentation
