Repository ufs-community/ufs-srweather-app, pull requests merged in 2023-02, with the labels that each got.

#566 [develop] Enable deterministic verification to be run from staged forecast files
  modulefiles/tasks/hera/run_vx.local.lua
  parm/FV3LAM_wflow.xml
  parm/metplus/EnsembleStat_APCP01h.conf
  parm/metplus/EnsembleStat_APCP03h.conf
  parm/metplus/EnsembleStat_APCP06h.conf
  parm/metplus/EnsembleStat_APCP24h.conf
  parm/metplus/EnsembleStat_REFC.conf
  parm/metplus/EnsembleStat_RETOP.conf
  parm/metplus/EnsembleStat_conus_sfc.conf
  parm/metplus/EnsembleStat_upper_air.conf
  parm/metplus/GridStat_APCP01h.conf
  parm/metplus/GridStat_APCP01h_mean.conf
  parm/metplus/GridStat_APCP01h_prob.conf
  parm/metplus/GridStat_APCP03h.conf
  parm/metplus/GridStat_APCP03h_mean.conf
  parm/metplus/GridStat_APCP03h_prob.conf
  parm/metplus/GridStat_APCP06h.conf
  parm/metplus/GridStat_APCP06h_mean.conf
  parm/metplus/GridStat_APCP06h_prob.conf
  parm/metplus/GridStat_APCP24h.conf
  parm/metplus/GridStat_APCP24h_mean.conf
  parm/metplus/GridStat_APCP24h_prob.conf
  parm/metplus/GridStat_REFC.conf
  parm/metplus/GridStat_REFC_mean.conf
  parm/metplus/GridStat_REFC_prob.conf
  parm/metplus/GridStat_RETOP.conf
  parm/metplus/GridStat_RETOP_mean.conf
  parm/metplus/GridStat_RETOP_prob.conf
  parm/metplus/PointStat_conus_sfc.conf
  parm/metplus/PointStat_conus_sfc_mean.conf
  parm/metplus/PointStat_conus_sfc_prob.conf
  parm/metplus/PointStat_upper_air.conf
  parm/metplus/PointStat_upper_air_mean.conf
  parm/metplus/PointStat_upper_air_prob.conf
  scripts/exregional_run_vx_ensgrid.sh
  scripts/exregional_run_vx_ensgrid_mean.sh
  scripts/exregional_run_vx_ensgrid_prob.sh
  scripts/exregional_run_vx_enspoint.sh
  scripts/exregional_run_vx_enspoint_mean.sh
  scripts/exregional_run_vx_enspoint_prob.sh
  scripts/exregional_run_vx_gridstat.sh
  scripts/exregional_run_vx_pointstat.sh
  tests/WE2E/get_WE2Etest_names_subdirs_descs.sh
  tests/WE2E/machine_suites/fundamental.hera.gnu.com
  tests/WE2E/run_WE2E_tests.sh
  tests/WE2E/test_configs/verification/config.MET_ensemble_verification.yaml
  tests/WE2E/test_configs/verification/config.MET_verification.yaml
  tests/WE2E/test_configs/verification/config.MET_verification_only_vx.yaml
  ush/config_defaults.yaml
Labels: enhancement, run_we2e_fundamental_tests

#574 [develop] Add new ccpp physics suite 'FV3_GFS_v17_p8'
  .cicd/Jenkinsfile
  parm/FV3.input.yml
  parm/diag_table.FV3_GFS_v17_p8
  parm/field_table.FV3_GFS_v17_p8
  scripts/exregional_make_ics.sh
  scripts/exregional_make_lbcs.sh
  scripts/exregional_make_orog.sh
  scripts/exregional_run_fcst.sh
  sorc/CMakeLists.txt
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v17_p8.yaml
  ush/config_defaults.yaml
  ush/link_fix.py
  ush/valid_param_vals.yaml
Labels: run_we2e_fundamental_tests

#598 [develop] Rename variables that store task names
  docs/UsersGuide/source/ConfigWorkflow.rst
  docs/UsersGuide/source/RunSRW.rst
  parm/FV3LAM_wflow.xml
  scripts/exregional_make_grid.sh
  scripts/exregional_run_fcst.sh
  ush/config_defaults.yaml
  ush/generate_FV3LAM_wflow.py
  ush/link_fix.py
  ush/set_FV3nml_ens_stoch_seeds.py
  ush/set_FV3nml_sfc_climo_filenames.py
  ush/setup.py
Labels: run_we2e_fundamental_tests

#549 [develop] Integrate 'online-cmaq' into 'develop' branch: Part 2, build script and module files
  .cicd/Jenkinsfile
  .gitignore
  Externals.cfg
  devbuild.sh
  jobs/JREGIONAL_POINT_SOURCE
  modulefiles/build_cheyenne_gnu.lua
  modulefiles/build_cheyenne_intel.lua
  modulefiles/build_jet_intel.lua
  modulefiles/build_orion_intel.lua
  modulefiles/build_wcoss2_intel.lua
  modulefiles/srw_common.lua
  modulefiles/tasks/hera/aqm_ics.local.lua
  modulefiles/tasks/hera/aqm_lbcs.local.lua
  modulefiles/tasks/hera/fire_emission.local.lua
  modulefiles/tasks/hera/miniconda_online-cmaq.lua
  modulefiles/tasks/hera/nexus_emission.local.lua
  modulefiles/tasks/hera/nexus_gfs_sfc.local.lua
  modulefiles/tasks/hera/nexus_post_split.local.lua
  modulefiles/tasks/hera/point_source.local.lua
  modulefiles/tasks/hera/pre_post_stat.local.lua
  modulefiles/tasks/orion/aqm_ics.local.lua
  modulefiles/tasks/orion/aqm_lbcs.local.lua
  modulefiles/tasks/orion/miniconda_online-cmaq.lua
  modulefiles/tasks/orion/nexus_emission.local.lua
  modulefiles/tasks/orion/nexus_post_split.local.lua
  modulefiles/tasks/orion/point_source.local.lua
  modulefiles/tasks/wcoss2/aqm_ics.local.lua
  modulefiles/tasks/wcoss2/aqm_lbcs.local.lua
  modulefiles/tasks/wcoss2/bias_correction_o3.local.lua
  modulefiles/tasks/wcoss2/bias_correction_pm25.local.lua
  modulefiles/tasks/wcoss2/fire_emission.local.lua
  modulefiles/tasks/wcoss2/make_grid.local.lua
  modulefiles/tasks/wcoss2/make_ics.local.lua
  modulefiles/tasks/wcoss2/make_lbcs.local.lua
  modulefiles/tasks/wcoss2/make_orog.local.lua
  modulefiles/tasks/wcoss2/make_sfc_climo.local.lua
  modulefiles/tasks/wcoss2/nexus_emission.local.lua
  modulefiles/tasks/wcoss2/nexus_post_split.local.lua
  modulefiles/tasks/wcoss2/point_source.local.lua
  modulefiles/tasks/wcoss2/post_stat_o3.local.lua
  modulefiles/tasks/wcoss2/post_stat_pm25.local.lua
  modulefiles/tasks/wcoss2/pre_post_stat.local.lua
  modulefiles/tasks/wcoss2/run_fcst.local.lua
  modulefiles/tasks/wcoss2/run_post.local.lua
  scripts/exregional_aqm_lbcs.sh
  scripts/exregional_bias_correction_o3.sh
  scripts/exregional_bias_correction_pm25.sh
  scripts/exregional_nexus_gfs_sfc.sh
  scripts/exregional_nexus_post_split.sh
  scripts/exregional_point_source.sh
  scripts/exregional_pre_post_stat.sh
  sorc/CMakeLists.txt
  versions/build.ver.wcoss2
  versions/run.ver.wcoss2
Labels: run_we2e_fundamental_tests

#607 [develop] Add correct logic for 3-digit forecast hours in UPP
  scripts/exregional_run_post.sh
Labels: run_we2e_fundamental_tests

#535 [develop] Add RAP/GFS bufr and GSI-fix file retrieval options
  parm/data_locations.yml
  scripts/exregional_get_extrn_mdl_files.sh
  ush/machine/hera.yaml
  ush/machine/jet.yaml
  ush/machine/noaacloud.yaml
  ush/retrieve_data.py
  ush/test_retrieve_data.py
Labels: enhancement, run_we2e_fundamental_tests

#526 [develop] Add GDAS and GEFS datasets to the workflow
  docs/UsersGuide/source/ConfigWorkflow.rst
  docs/UsersGuide/source/InputOutputFiles.rst
  parm/data_locations.yml
  scripts/exregional_get_extrn_mdl_files.sh
  scripts/exregional_make_ics.sh
  scripts/exregional_make_lbcs.sh
  tests/WE2E/test_configs/wflow_features/config.get_from_AWS_ics_GEFS_lbcs_GEFS_fmt_grib2_2022040400_ensemble_2mems.yaml
  tests/WE2E/test_configs/wflow_features/config.get_from_HPSS_ics_GDAS_lbcs_GDAS_fmt_netcdf_2022040400_ensemble_2mems.yaml
  ush/retrieve_data.py
  ush/test_retrieve_data.py
  ush/valid_param_vals.yaml
Labels: enhancement, run_we2e_fundamental_tests

#600 [develop] Fix for error at the end of monitor_jobs.py, other minor improvements
  tests/WE2E/monitor_jobs.py
  tests/WE2E/run_WE2E_tests.py
  ush/setup.py
Labels: run_we2e_fundamental_tests

#613 [develop] Integrate 'online-cmaq' into 'develop' branch: Part 3, workflow set-up and run scripts
  Externals.cfg
  jobs/JREGIONAL_AQM_ICS
  jobs/JREGIONAL_AQM_LBCS
  jobs/JREGIONAL_BIAS_CORRECTION_O3
  jobs/JREGIONAL_BIAS_CORRECTION_PM25
  jobs/JREGIONAL_FIRE_EMISSION
  jobs/JREGIONAL_NEXUS_EMISSION
  jobs/JREGIONAL_NEXUS_GFS_SFC
  jobs/JREGIONAL_NEXUS_POST_SPLIT
  jobs/JREGIONAL_POINT_SOURCE
  jobs/JREGIONAL_POST_STAT_O3
  jobs/JREGIONAL_POST_STAT_PM25
  jobs/JREGIONAL_PRE_POST_STAT
  parm/FV3.input.yml
  parm/FV3LAM_wflow.xml
  parm/aqm.rc
  parm/diag_table_aqm.FV3_GFS_v15p2
  parm/diag_table_aqm.FV3_GFS_v16
  parm/diag_table_aqm.FV3_GFS_v17_p8
  parm/field_table_aqm.FV3_GFS_v15p2
  parm/field_table_aqm.FV3_GFS_v16
  parm/field_table_aqm.FV3_GFS_v17_p8
  parm/fixed_files_mapping.yaml
  parm/input.nml.FV3
  parm/model_configure
  parm/nems.configure
  parm/upp-aqm
  scripts/exregional_aqm_ics.sh
  scripts/exregional_aqm_lbcs.sh
  scripts/exregional_bias_correction_o3.sh
  scripts/exregional_bias_correction_pm25.sh
  scripts/exregional_fire_emission.sh
  scripts/exregional_get_extrn_mdl_files.sh
  scripts/exregional_make_grid.sh
  scripts/exregional_make_lbcs.sh
  scripts/exregional_nexus_emission.sh
  scripts/exregional_nexus_gfs_sfc.sh
  scripts/exregional_nexus_post_split.sh
  scripts/exregional_point_source.sh
  scripts/exregional_post_stat_o3.sh
  scripts/exregional_post_stat_pm25.sh
  scripts/exregional_pre_post_stat.sh
  scripts/exregional_run_fcst.sh
  scripts/exregional_run_post.sh
  ush/config.aqm.community.yaml
  ush/config.aqm.nco.realtime.yaml
  ush/config_defaults.yaml
  ush/create_aqm_rc_file.py
  ush/create_model_configure_file.py
  ush/create_nems_configure_file.py
  ush/generate_FV3LAM_wflow.py
  ush/job_preamble.sh
  ush/load_modules_run_task.sh
  ush/machine/hera.yaml
  ush/machine/orion.yaml
  ush/machine/wcoss2.yaml
  ush/predef_grid_params.yaml
  ush/setup.py
  ush/valid_param_vals.yaml
Labels: run_we2e_fundamental_tests

#614 [develop] Adding mixed-layer convective available potential energy (MLCAPE) to the verification
  parm/metplus/PointStat_conus_sfc.conf
  parm/metplus/PointStat_upper_air.conf
Labels: enhancement, run_we2e_fundamental_tests

#605 [develop] Allow WE2E run script to set location of staged forecast files for verification
  tests/WE2E/run_WE2E_tests.py
  tests/WE2E/test_configs/verification/config.MET_verification_only_vx.yaml
  ush/config_defaults.yaml
  ush/machine/hera.yaml
Labels: run_we2e_fundamental_tests

#609 [develop] Fixes for Issue #608, #610, and #616
  tests/WE2E/get_expts_status.sh
  tests/WE2E/test_configs/verification/config.MET_verification_only_vx.yaml
  ush/config_defaults.yaml
  ush/setup.py
Labels: bug, run_we2e_fundamental_tests

#624 [develop] Update default timesteps (DT_ATMOS) to less wasteful values
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUScompact_25km_ics_HRRR_lbcs_HRRR_suite_RRFS_v1beta.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUScompact_25km_ics_HRRR_lbcs_RAP_suite_HRRR.yaml
  ush/predef_grid_params.yaml
  ush/setup.py
Labels: run_we2e_fundamental_tests

#626 [develop] Fixing the issue related to NDAS file name change on NOAA HPSS
  scripts/exregional_get_obs_ndas.sh
Labels: run_we2e_fundamental_tests

#628 [develop] Add RAVE data processing to fire_emission task for AQM
  Externals.cfg
  jobs/JREGIONAL_FIRE_EMISSION
  modulefiles/tasks/hera/fire_emission.local.lua
  modulefiles/tasks/wcoss2/fire_emission.local.lua
  parm/FV3LAM_wflow.xml
  scripts/exregional_aqm_lbcs.sh
  scripts/exregional_fire_emission.sh
  ush/config.aqm.community.yaml
  ush/config.aqm.nco.realtime.yaml
  ush/config_defaults.yaml
  ush/machine/hera.yaml
  ush/machine/wcoss2.yaml
Labels: run_we2e_fundamental_tests
