Repository ufs-community/ufs-srweather-app, pull requests merged in 2024-09, with the labels that each got.

#1115 [develop] Fix for SonarQube forked repo renaming failure
  .cicd/Jenkinsfile
Labels: bug, enhancement, run_we2e_coverage_tests, run_we2e_jenkins_coverage_tests

#1089 [develop] Added an option for RRFS external model files used as ICS and LBCS
  devclean.sh
  doc/UsersGuide/BackgroundInfo/Components.rst
  doc/UsersGuide/BuildingRunningTesting/RunSRW.rst
  doc/UsersGuide/BuildingRunningTesting/WE2Etests.rst
  doc/UsersGuide/CustomizingTheWorkflow/ConfigWorkflow.rst
  doc/UsersGuide/CustomizingTheWorkflow/InputOutputFiles.rst
  doc/UsersGuide/CustomizingTheWorkflow/LAMGrids.rst
  doc/UsersGuide/Reference/Glossary.rst
  parm/data_locations.yml
  parm/wflow/plot.yaml
  scripts/exregional_make_ics.sh
  scripts/exregional_make_lbcs.sh
  tests/WE2E/machine_suites/comprehensive
  tests/WE2E/machine_suites/comprehensive.derecho
  tests/WE2E/machine_suites/comprehensive.noaacloud
  tests/WE2E/machine_suites/comprehensive.orion
  tests/WE2E/machine_suites/coverage.orion
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUScompact_25km_ics_RRFS_lbcs_RRFS_suite_RRFS_v1beta.yaml
  ush/setup.py
  ush/valid_param_vals.yaml
Labels: enhancement, run_we2e_coverage_tests

#1133 [develop]: Updated ConfigWorkflow.rst to reflect changes to config_defaults.yaml (PI13)
  doc/UsersGuide/CustomizingTheWorkflow/ConfigWorkflow.rst
Labels: documentation

#1117 [develop] Update ufs-weather-model hash and remove machine/modulefiles/WE2E test suites for decommissioned machines
  .github/CODEOWNERS
  Externals.cfg
  doc/UsersGuide/BuildingRunningTesting/ContainerQuickstart.rst
  doc/UsersGuide/BuildingRunningTesting/RunSRW.rst
  modulefiles/build_cheyenne_gnu.lua
  modulefiles/build_cheyenne_intel.lua
  modulefiles/build_jet_intel.lua
  modulefiles/tasks/cheyenne/aqm_ics.local.lua
  modulefiles/tasks/cheyenne/aqm_lbcs.local.lua
  modulefiles/tasks/cheyenne/fire_emission.local.lua
  modulefiles/tasks/cheyenne/nexus_emission.local.lua
  modulefiles/tasks/cheyenne/nexus_gfs_sfc.local.lua
  modulefiles/tasks/cheyenne/nexus_post_split.local.lua
  modulefiles/tasks/cheyenne/plot_allvars.local.lua
  modulefiles/tasks/cheyenne/point_source.local.lua
  modulefiles/tasks/cheyenne/pre_post_stat.local.lua
  modulefiles/tasks/cheyenne/python_srw.lua
  modulefiles/tasks/cheyenne/run_vx.local.lua
  modulefiles/wflow_cheyenne.lua
  tests/WE2E/machine_suites/comprehensive.cheyenne
  tests/WE2E/machine_suites/comprehensive.derecho
  tests/WE2E/machine_suites/coverage.cheyenne
  ush/machine/cheyenne.yaml
  ush/machine/jet.yaml
Labels: run_we2e_coverage_tests
