Repository ufs-community/ufs-srweather-app, pull requests merged in 2024-03, with the labels that each got.

#1046 [develop]: Add Contributor's Guide to documentation
  .readthedocs.yaml
  doc/ContribGuide/code-configuration-standards.rst
  doc/ContribGuide/contributing.rst
  doc/ContribGuide/documentation.rst
  doc/ContribGuide/git-submodules.rst
  doc/ContribGuide/index.rst
  doc/ContribGuide/introduction.rst
  doc/ContribGuide/testing.rst
  doc/INSTALL
  doc/Makefile
  doc/README
  doc/UsersGuide/BackgroundInfo/CCPPUpdates.rst
  doc/UsersGuide/BackgroundInfo/Components.rst
  doc/UsersGuide/BackgroundInfo/Introduction.rst
  doc/UsersGuide/BackgroundInfo/TechnicalOverview.rst
  doc/UsersGuide/BackgroundInfo/index.rst
  doc/UsersGuide/BuildingRunningTesting/AQM.rst
  doc/UsersGuide/BuildingRunningTesting/BuildSRW.rst
  doc/UsersGuide/BuildingRunningTesting/ContainerQuickstart.rst
  doc/UsersGuide/BuildingRunningTesting/DefaultVarsTable.rst
  doc/UsersGuide/BuildingRunningTesting/Quickstart.rst
  doc/UsersGuide/BuildingRunningTesting/RunSRW.rst
  doc/UsersGuide/BuildingRunningTesting/Tutorial.rst
  doc/UsersGuide/BuildingRunningTesting/VXCases.rst
  doc/UsersGuide/BuildingRunningTesting/WE2Etests.rst
  doc/UsersGuide/BuildingRunningTesting/index.rst
  doc/UsersGuide/CustomizingTheWorkflow/ConfigWorkflow.rst
  doc/UsersGuide/CustomizingTheWorkflow/DefineWorkflow.rst
  doc/UsersGuide/CustomizingTheWorkflow/InputOutputFiles.rst
  doc/UsersGuide/CustomizingTheWorkflow/LAMGrids.rst
  doc/UsersGuide/CustomizingTheWorkflow/TemplateVars.rst
  doc/UsersGuide/CustomizingTheWorkflow/index.rst
  doc/UsersGuide/Reference/FAQ.rst
  doc/UsersGuide/Reference/Glossary.rst
  doc/UsersGuide/Reference/RocotoInfo.rst
  doc/UsersGuide/Reference/index.rst
  doc/UsersGuide/SSHIntro.rst
  doc/UsersGuide/index.rst
  doc/UsersGuide/source/_static/theme_overrides.css
  doc/UsersGuide/source/index.rst
  doc/_static/custom.css
  doc/_static/theme_overrides.css
  doc/_templates/.gitignore
  doc/conf.py
  doc/index.rst
  doc/make.bat
  doc/references.bib
  doc/requirements.in
  doc/requirements.txt
  doc/tables/SRW_NATLEV_table.csv
  doc/tables/SRW_NATLEV_table.rst
  doc/tables/SRW_PRSLEV_table.csv
  doc/tables/SRW_PRSLEV_table.rst
  doc/tables/Tests.csv
  doc/tables/Tests.rst
  doc/tables/code-managers.csv
  doc/tables/fix_file_list.rst
Labels: documentation

#1040 [develop] Fix sample script and WE2E test for AQM
  .gitignore
  modulefiles/tasks/hera/aqm_lbcs.local.lua
  scripts/exregional_fire_emission.sh
  tests/WE2E/run_WE2E_tests.py
  tests/WE2E/test_configs/aqm/config.aqm_grid_AQM_NA13km_suite_GFS_v16.yaml
  ush/config.aqm.community.yaml
  ush/machine/hera.yaml
Labels: run_we2e_coverage_tests

#1042 [develop] Add integration test job
  doc/UsersGuide/BuildingRunningTesting/RunSRW.rst
  jobs/JREGIONAL_INTEGRATION_TEST
  parm/wflow/default_workflow.yaml
  parm/wflow/test.yaml
  scripts/exregional_integration_test.py
  tests/WE2E/test_configs/aqm/config.aqm_grid_AQM_NA13km_suite_GFS_v16.yaml
  tests/WE2E/test_configs/custom_grids/config.custom_ESGgrid_Great_Lakes_snow_8km.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_AK_13km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16_plot.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_13km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16_plot.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16_plot.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v17_p8_plot.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_RAP_suite_RAP.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_NAM_lbcs_NAM_suite_GFS_v16.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_NA_3km_ics_FV3GFS_lbcs_FV3GFS_suite_RRFS_v1beta.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_SUBCONUS_Ind_3km_ics_FV3GFS_lbcs_FV3GFS_suite_WoFS_v0.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_SUBCONUS_Ind_3km_ics_HRRR_lbcs_RAP_suite_WoFS_v0.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_SUBCONUS_Ind_3km_ics_RAP_lbcs_RAP_suite_RRFS_v1beta_plot.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_nco/config.nco_grid_RRFS_CONUS_13km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_nco/config.nco_grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_timeoffset_suite_GFS_v16.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_nco/config.nco_grid_RRFS_CONUS_3km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v15_thompson_mynn_lam3km.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_nco/config.nco_grid_RRFS_CONUScompact_25km_ics_HRRR_lbcs_RAP_suite_HRRR.yaml
  tests/WE2E/test_configs/verification/config.MET_ensemble_verification_winter_wx.yaml
  tests/WE2E/test_configs/wflow_features/config.deactivate_tasks.yaml
  tests/WE2E/test_configs/wflow_features/config.nco_ensemble.yaml
  ush/wrappers/run_integration_test.sh
Labels: run_we2e_coverage_tests

#1045 [develop] Jet switch from CentOS to Rocky
  modulefiles/build_jet_intel.lua
  ush/machine/jet.yaml
Labels: enhancement, run_we2e_coverage_tests

#1048 [develop] Expand forecast fields for metric test
  .cicd/scripts/srw_metric_example.sh
  modulefiles/tasks/gaea/run_vx.local.lua
  modulefiles/tasks/orion/run_vx.local.lua
  parm/metplus/STATAnalysisConfig_skill_score
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_SUBCONUS_Ind_3km_ics_FV3GFS_lbcs_FV3GFS_suite_WoFS_v0.yaml
Labels: run_we2e_coverage_tests

#1055 [develop] Bug fix for FV3_GFS_v17_p8 physics suite
  parm/FV3.input.yml
Labels: run_we2e_coverage_tests

#1054 [develop] Use uwtools instead of set_namelist
  .github/workflows/python_tests.yaml
  environment.yml
  modulefiles/build_hera_gnu.lua
  modulefiles/build_hera_intel.lua
  parm/FV3.input.yml
  parm/fixed_files_mapping.yaml
  scripts/exregional_make_grid.sh
  scripts/exregional_make_ics.sh
  scripts/exregional_make_lbcs.sh
  scripts/exregional_run_fcst.sh
  scripts/exregional_run_met_genensprod_or_ensemblestat.sh
  scripts/exregional_run_met_gridstat_or_pointstat_vx.sh
  scripts/exregional_run_met_gridstat_or_pointstat_vx_ensmean.sh
  scripts/exregional_run_met_gridstat_or_pointstat_vx_ensprob.sh
  scripts/exregional_run_met_pb2nc_obs.sh
  scripts/exregional_run_met_pcpcombine.sh
  tests/test_python/test_set_fv3nml_ens_stoch_seeds.py
  tests/test_python/test_set_fv3nml_sfc_climo_filenames.py
  ush/generate_FV3LAM_wflow.py
  ush/set_fv3nml_ens_stoch_seeds.py
  ush/set_fv3nml_sfc_climo_filenames.py
  ush/set_namelist.py
  ush/update_input_nml.py
Labels: run_we2e_coverage_tests

#1056 [SRW-AQM] Needed update to the latest cmake module on Hera for Rocky8 update.
  modulefiles/build_hera_intel.lua
Labels: bug

#1050 [develop] Update weather model, UPP, and UFS_UTILS hashes
  .cicd/scripts/sbatch_srw_ftest.sh
  .cicd/scripts/srw_ftest.sh
  .cicd/scripts/wrapper_srw_ftest.sh
  Externals.cfg
  doc/UsersGuide/CustomizingTheWorkflow/ConfigWorkflow.rst
  modulefiles/build_derecho_intel.lua
  modulefiles/build_gaea_intel.lua
  modulefiles/build_hera_gnu.lua
  modulefiles/build_hera_intel.lua
  modulefiles/build_hercules_intel.lua
  modulefiles/build_jet_intel.lua
  modulefiles/build_noaacloud_intel.lua
  modulefiles/build_orion_intel.lua
  modulefiles/srw_common.lua
  parm/fixed_files_mapping.yaml
  parm/model_configure
  parm/ufs.configure
  scripts/exregional_make_orog.sh
  scripts/exregional_run_fcst.sh
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_CONUS_3km_GFDLgrid_ics_FV3GFS_lbcs_FV3GFS_suite_RRFS_v1beta.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_AK_3km_ics_FV3GFS_lbcs_FV3GFS_suite_HRRR.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUScompact_25km_ics_HRRR_lbcs_RAP_suite_RRFS_v1beta.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUScompact_3km_ics_HRRR_lbcs_RAP_suite_HRRR.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUScompact_3km_ics_HRRR_lbcs_RAP_suite_RRFS_v1beta.yaml
  tests/WE2E/test_configs/wflow_features/config.specify_template_filenames.yaml
  tests/test_python/test_create_model_configure_file.py
  tests/test_python/test_set_ozone_param.py
  ush/config_defaults.yaml
  ush/create_model_configure_file.py
  ush/create_ufs_configure_file.py
  ush/set_ozone_param.py
  ush/setup.py
Labels: run_we2e_coverage_tests
