Repository ufs-community/ufs-srweather-app, pull requests merged in 2024-11, with the labels that each got.

#1152 [develop]: Add GitHub Actions to check that Technical Docs are up-to-date
  .github/scripts/check_tech_doc.sh
  .github/workflows/doc_tests.yaml
  doc/ContribGuide/documentation.rst
  doc/Makefile
  doc/TechDocs/ush/set_fv3nml_ens_stoch_seeds.rst
  doc/TechDocs/ush/set_fv3nml_sfc_climo_filenames.rst
  doc/UsersGuide/BuildingRunningTesting/VXCases.rst
  doc/UsersGuide/CustomizingTheWorkflow/DefineWorkflow.rst
  doc/conf.py
  doc/requirements.in
  doc/requirements.txt
Labels: documentation, enhancement

#1139 [develop] Add Community Fire Behavior Model
  .github/workflows/python_tests.yaml
  CMakeLists.txt
  devbuild.sh
  doc/UsersGuide/BuildingRunningTesting/DefaultVarsTable.rst
  doc/UsersGuide/BuildingRunningTesting/FIRE.rst
  doc/UsersGuide/BuildingRunningTesting/index.rst
  doc/UsersGuide/CustomizingTheWorkflow/ConfigWorkflow.rst
  doc/UsersGuide/CustomizingTheWorkflow/LAMGrids.rst
  doc/UsersGuide/Reference/Glossary.rst
  doc/conf.py
  modulefiles/build_hera_intel.lua
  modulefiles/build_hercules_intel.lua
  modulefiles/build_jet_intel.lua
  modulefiles/build_odin_intel.lua
  modulefiles/build_orion_intel.lua
  modulefiles/build_singularity_gnu.lua
  parm/diag_table.FV3_HRRR
  parm/namelist.fire
  parm/ufs.configure
  scripts/exregional_run_fcst.sh
  sorc/build_settings_template.yaml
  sorc/ufs_srweather_app_meta.h.in
  tests/WE2E/WE2E_summary.py
  tests/WE2E/run_WE2E_tests.py
  tests/WE2E/test_configs/fire/config.UFS_FIRE_multifire_one-way-coupled.yaml
  tests/WE2E/test_configs/fire/config.UFS_FIRE_one-way-coupled.yaml
  tests/WE2E/utils.py
  tests/test_python/test_create_diag_table_file.py
  tests/test_python/test_generate_FV3LAM_wflow.py
  ufs_srweather_app.settings.in
  ush/bash_utils/boolify.sh
  ush/bash_utils/create_symlink_to_file.sh
  ush/config.fire.yaml
  ush/config_defaults.yaml
  ush/create_diag_table_file.py
  ush/create_ufs_configure_file.py
  ush/generate_FV3LAM_wflow.py
  ush/machine/derecho.yaml
  ush/machine/gaea.yaml
  ush/machine/hera.yaml
  ush/machine/hercules.yaml
  ush/machine/jet.yaml
  ush/machine/noaacloud.yaml
  ush/machine/odin.yaml
  ush/machine/orion.yaml
  ush/machine/stampede.yaml
  ush/machine/wcoss2.yaml
  ush/predef_grid_params.yaml
  ush/retrieve_data.py
  ush/setup.py
  ush/valid_param_vals.yaml
Labels: run_we2e_coverage_tests, EPIC Support Requested

#1158 [develop] Update UFS-WM hash to 11/14 version and UPP hash to 09/30 version.
  Externals.cfg
  modulefiles/build_derecho_intel.lua
  modulefiles/build_gaea_intel.lua
  modulefiles/build_hera_gnu.lua
  modulefiles/build_hera_intel.lua
  modulefiles/build_hercules_intel.lua
  modulefiles/build_jet_intel.lua
  modulefiles/build_noaacloud_intel.lua
  modulefiles/build_orion_intel.lua
  modulefiles/srw_common.lua
  parm/metplus/STATAnalysisConfig_skill_score
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_AK_13km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16_plot.yaml
Labels: run_we2e_coverage_tests

#1128 [develop]: Add SRW-SD chapter to SRW App docs
  doc/ContribGuide/contributing.rst
  doc/UsersGuide/BackgroundInfo/Introduction.rst
  doc/UsersGuide/BuildingRunningTesting/SRW-SD.rst
  doc/UsersGuide/BuildingRunningTesting/index.rst
  doc/UsersGuide/CustomizingTheWorkflow/DefineWorkflow.rst
Labels: documentation
