Repository ufs-community/ufs-srweather-app, pull requests merged in 2024-04, with the labels that each got.

#1067 [develop] Port SRW-AQM to Orion and Hercules
  modulefiles/build_derecho_intel.lua
  modulefiles/build_hercules_intel.lua
  modulefiles/build_orion_intel.lua
  modulefiles/tasks/derecho/nexus_post_split.local.lua
  modulefiles/tasks/derecho/python_srw.lua
  modulefiles/tasks/hercules/aqm_ics.local.lua
  modulefiles/tasks/hercules/aqm_lbcs.local.lua
  modulefiles/tasks/hercules/fire_emission.local.lua
  modulefiles/tasks/hercules/nexus_emission.local.lua
  modulefiles/tasks/hercules/nexus_post_split.local.lua
  modulefiles/tasks/hercules/python_srw.lua
  modulefiles/tasks/orion/aqm_ics.local.lua
  modulefiles/tasks/orion/aqm_lbcs.local.lua
  modulefiles/tasks/orion/fire_emission.local.lua
  modulefiles/tasks/orion/nexus_emission.local.lua
  modulefiles/tasks/orion/nexus_post_split.local.lua
  modulefiles/tasks/orion/python_srw.lua
  parm/wflow/aqm_prep.yaml
  tests/WE2E/test_configs/aqm/config.aqm_grid_AQM_NA13km_suite_GFS_v16.yaml
  ush/config.aqm.yaml
  ush/machine/derecho.yaml
  ush/machine/hercules.yaml
  ush/machine/orion.yaml
Labels: run_we2e_coverage_tests

#1068 [develop] Update weather model hash and correct behavior in Functional WorkflowTaskTests Jenkins stage
  .cicd/scripts/wrapper_srw_ftest.sh
  Externals.cfg
  modulefiles/build_hera_gnu.lua
  scripts/exregional_make_orog.sh
  scripts/exregional_run_fcst.sh
  scripts/exregional_run_post.sh
  ush/bash_utils/create_symlink_to_file.sh
Labels: run_we2e_coverage_tests

#1077 [develop] Update nco version
  modulefiles/build_hera_intel.lua
Labels: bug, Priority: HIGH, run_we2e_coverage_tests

#1079 [develop] Feature cicd scorecard metric
  .cicd/Jenkinsfile
  .cicd/scripts/srw_metric.sh
  .cicd/scripts/srw_test.sh
Labels: enhancement, run_we2e_jenkins_coverage_tests

#1078 [develop] Replace existing UW CLI with UW API calls to template
  environment.yml
  ush/create_aqm_rc_file.py
  ush/create_diag_table_file.py
  ush/create_model_configure_file.py
  ush/create_ufs_configure_file.py
  ush/generate_FV3LAM_wflow.py
Labels: run_we2e_coverage_tests

#1074 [develop] Update weather model hash and remove "_vrfy" from bash commands
  .cicd/scripts/srw_metric.sh
  Externals.cfg
  jobs/JREGIONAL_CHECK_POST_OUTPUT
  jobs/JREGIONAL_GET_EXTRN_MDL_FILES
  jobs/JREGIONAL_MAKE_GRID
  jobs/JREGIONAL_MAKE_ICS
  jobs/JREGIONAL_MAKE_LBCS
  jobs/JREGIONAL_MAKE_SFC_CLIMO
  jobs/JREGIONAL_RUN_FCST
  jobs/JREGIONAL_RUN_POST
  jobs/JREGIONAL_RUN_PRDGEN
  scripts/exregional_make_grid.sh
  scripts/exregional_make_ics.sh
  scripts/exregional_make_lbcs.sh
  scripts/exregional_make_orog.sh
  scripts/exregional_make_sfc_climo.sh
  scripts/exregional_run_fcst.sh
  scripts/exregional_run_met_genensprod_or_ensemblestat.sh
  scripts/exregional_run_met_gridstat_or_pointstat_vx.sh
  scripts/exregional_run_met_gridstat_or_pointstat_vx_ensmean.sh
  scripts/exregional_run_met_gridstat_or_pointstat_vx_ensprob.sh
  scripts/exregional_run_met_pb2nc_obs.sh
  scripts/exregional_run_met_pcpcombine.sh
  scripts/exregional_run_post.sh
  scripts/exregional_run_prdgen.sh
  ush/bash_utils/check_for_preexist_dir_file.sh
  ush/bash_utils/create_symlink_to_file.sh
  ush/bash_utils/filesys_cmds_vrfy.sh
  ush/get_mrms_files.sh
  ush/job_preamble.sh
  ush/launch_FV3LAM_wflow.sh
  ush/source_util_funcs.sh
Labels: run_we2e_coverage_tests
