Repository ufs-community/ufs-srweather-app, pull requests merged in 2025-01, with the labels that each got.

#1172 [main_aqm] Update hash of ufs weather model and input namelist for smoke/dust
  parm/templates/FV3.input.yml
  sorc/Externals_smoke_dust.cfg
Labels: enhancement

#1169 [develop] Correct documentation issue and close out two issues
  doc/UsersGuide/Reference/Glossary.rst
  tests/WE2E/machine_suites/comprehensive.derecho
  tests/WE2E/test_configs/custom_grids/config.custom_ESGgrid.yaml
  tests/WE2E/test_configs/custom_grids/config.custom_ESGgrid_Central_Asia_3km.yaml
  tests/WE2E/test_configs/custom_grids/config.custom_GFDLgrid.yaml
  tests/WE2E/test_configs/custom_grids/config.custom_GFDLgrid__GFDLgrid_USE_NUM_CELLS_IN_FILENAMES_eq_FALSE.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_CONUS_25km_GFDLgrid_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_CONUS_3km_GFDLgrid_ics_FV3GFS_lbcs_FV3GFS_suite_RRFS_v1beta.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_AK_13km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16_plot.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_AK_3km_ics_FV3GFS_lbcs_FV3GFS_suite_HRRR.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_13km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16_plot.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_13km_ics_FV3GFS_lbcs_FV3GFS_suite_HRRR.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_13km_ics_FV3GFS_lbcs_FV3GFS_suite_RAP.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_13km_ics_FV3GFS_lbcs_FV3GFS_suite_RRFS_v1beta.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v15p2.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16_plot.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v17_p8_plot.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_HRRR.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_RAP.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_25km_ics_FV3GFS_lbcs_FV3GFS_suite_RRFS_v1beta.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_3km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v15_thompson_mynn_lam3km.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_3km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v15p2.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_3km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_3km_ics_FV3GFS_lbcs_FV3GFS_suite_HRRR.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUS_3km_ics_FV3GFS_lbcs_FV3GFS_suite_RRFS_v1beta.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUScompact_13km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUScompact_25km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_CONUScompact_3km_ics_FV3GFS_lbcs_FV3GFS_suite_GFS_v16.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_NA_13km_ics_FV3GFS_lbcs_FV3GFS_suite_RAP.yaml
  tests/WE2E/test_configs/grids_extrn_mdls_suites_community/config.grid_RRFS_NA_3km_ics_FV3GFS_lbcs_FV3GFS_suite_RRFS_v1beta.yaml
  tests/WE2E/test_configs/wflow_features/config.different_vcoord.yaml
  tests/WE2E/test_configs/wflow_features/config.pregen_grid_orog_sfc_climo.yaml
  tests/WE2E/test_configs/wflow_features/config.specify_template_filenames.yaml
  ush/config_defaults.yaml
Labels: bug, enhancement, run_we2e_coverage_tests

#1178 [develop] Update ufs-weather-model hash to 5324d64 (January 7)
  Externals.cfg
  devbuild.sh
  devclean.sh
  jobs/JREGIONAL_INTEGRATION_TEST
  tests/build.sh
  ush/bash_utils/get_charvar_from_netcdf.sh
  ush/get_layout.sh
  ush/get_mrms_files.sh
  ush/job_preamble.sh
  ush/launch_FV3LAM_wflow.sh
  ush/load_modules_run_task.sh
  ush/load_modules_wflow.sh
  ush/machine/gaea-c6.yaml
  ush/machine/gaea.yaml
  ush/make_grid_mosaic_file.sh
  ush/preamble.sh
Labels: run_we2e_coverage_tests

#1182 [develop] Enable two-way UFS_FIRE coupling
  doc/UsersGuide/BuildingRunningTesting/FIRE.rst
  doc/UsersGuide/CustomizingTheWorkflow/ConfigWorkflow.rst
  tests/WE2E/test_configs/fire/config.UFS_FIRE_multifire_two-way-coupled.yaml
  ush/config.fire.yaml
  ush/config_defaults.yaml
  ush/setup.py
Labels: run_we2e_coverage_tests

#1185 [develop] Integrate smoke/dust capability of main_aqm into develop
  Externals.cfg
  devbuild.sh
  doc/TechDocs/ush/modules.rst
  doc/TechDocs/ush/smoke_dust_add_smoke.rst
  doc/TechDocs/ush/smoke_dust_fire_emiss_tools.rst
  doc/TechDocs/ush/smoke_dust_generate_fire_emissions.rst
  doc/TechDocs/ush/smoke_dust_hwp_tools.rst
  doc/TechDocs/ush/smoke_dust_interp_tools.rst
  doc/UsersGuide/CustomizingTheWorkflow/ConfigWorkflow.rst
  environment.yml
  jobs/JSRW_PREPSTART
  jobs/JSRW_SMOKE_DUST
  modulefiles/build_gaea-c6_intel.lua
  modulefiles/python_srw_sd.lua
  modulefiles/tasks/gaea-c6/prepstart.local.lua
  modulefiles/tasks/gaea-c6/python_srw_sd.lua
  modulefiles/tasks/gaea-c6/smoke_dust.local.lua
  modulefiles/tasks/hera/prepstart.local.lua
  modulefiles/tasks/hera/smoke_dust.local.lua
  modulefiles/tasks/hercules/prepstart.local.lua
  modulefiles/tasks/hercules/smoke_dust.local.lua
  modulefiles/tasks/orion/prepstart.local.lua
  modulefiles/tasks/orion/smoke_dust.local.lua
  parm/FV3.input.yml
  parm/diag_table_smoke_dust.FV3_HRRR_gf
  parm/field_table_smoke_dust.FV3_HRRR_gf
  parm/input.nml.FV3
  parm/wflow/coldstart.yaml
  parm/wflow/smoke_dust.yaml
  scripts/exregional_make_ics.sh
  scripts/exregional_make_lbcs.sh
  scripts/exregional_make_orog.sh
  scripts/exregional_run_fcst.sh
  scripts/exregional_run_post.sh
  scripts/exsrw_prepstart.sh
  scripts/exsrw_smoke_dust.sh
  sd_environment.yml
  sorc/CMakeLists.txt
  tests/WE2E/test_configs/smoke_dust/config.smoke_dust_grid_RRFS_CONUS_3km_suite_HRRR_gf.yaml
  ush/config.smoke_dust.yaml
  ush/config_defaults.yaml
  ush/generate_FV3LAM_wflow.py
  ush/job_preamble.sh
  ush/link_fix.py
  ush/load_modules_run_task.sh
  ush/machine/gaea-c6.yaml
  ush/machine/hera.yaml
  ush/machine/hercules.yaml
  ush/machine/orion.yaml
  ush/setup.py
  ush/smoke_dust_add_smoke.py
  ush/smoke_dust_fire_emiss_tools.py
  ush/smoke_dust_generate_fire_emissions.py
  ush/smoke_dust_hwp_tools.py
  ush/smoke_dust_interp_tools.py
  ush/valid_param_vals.yaml
Labels: run_we2e_coverage_tests
